@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.glow-on-hover {
  @apply relative inline-block text-white; /* Add any other Tailwind classes you need */
}

.glow-on-hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(0, 255, 255, 1), rgb(235, 235, 235));
  filter: blur(5rem);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;
}

.glow-on-hover:hover::after {
  opacity: 1;
}

/* styles.css */
.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: cyan;
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
